.menu {
    height: 14vh;
    background-color: #fada95;
    font-size: 16px;
    border-bottom: 4px solid #333333;
    display: grid;
    align-items: center;
    display: flex;
    justify-self: center;
}

.menu ul {
    text-align: right;
}

ul li {
    display: inline-flex;
}

.navMenu {
    align-items: center;
    display: flexbox;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.navMenu ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: auto;
}

.navMenu ul li a {
    padding-right: 2vw;
    text-decoration: none;
    color: #111111;
    align-items: center;
    display: inline;
}

.navMenu ul li a:hover {
    color: #00f;
    transition: 0.5s;
}

/* Menu de hamburguer */

.bm-burger-button {
    position: relative;
    width: 36px;
    height: 36px;
}

.bm-burger-bars {
    background-color: #000;
    margin: 0;
    border-radius: 6px;
}

.bm-burger-bars-hover {
    background-color: #2a90ab;
    transition: 0.5s;
}

.bm-cross {
    background-color: #000;
}

.bm-menu {
    background-color: #2a90ab;
    font-size: 1.15em;
    border: 3px solid #000;
}

.bm-item {
    padding: 15px 0px 15px 0px;
    width: 100%;
    background-color: #2a90ab;
    text-align: center;
    border-bottom: 2px solid #fada95;
    color: #fff;
    text-decoration: none;
}

.bm-item:hover {
    background-color: #9edded;
    color: #000;
    transition: 2s;
}

.bm-menu-wrap {
    top: 0;
    right: 0;
    margin-left: -45px;
}

.bm-overlay {
    top: 0;
    left: 0;
}

#logo {
    width: 85px;
    height: 85px;
}

#parte1 {
    margin-left: 25px;
    width: 33%;
}

#parte2 {
    margin-right: 25px;
    width: 33%;
    justify-content: flex-end;
}

#iconeperfil {
    float: right;

}

#conteudo {
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Menu de perfil */

#menu2 .bm-burger-button {
    position: relative;
    width: 36px;
    height: 36px;
}

#menu2 .bm-burger-bars {
    background-color: #000;
    margin: 0;
}

#menu2 .bm-menu {
    font-size: 1.15em;
    border: none;
    background-color: transparent;
    margin-right: 20px;
}

#menu2 .bm-item {
    padding: 15px 0px 15px 0px;
    width: 100%;
    background-color: #2a90ab;
    text-align: center;
    border-bottom: 2px solid #fada95;
    color: #fff;
    text-decoration: none;
}

#menu2 .bm-item:hover {
    background-color: #9edded;
    color: #000;
    transition: 0.5s;
}

#menu2 {
    top: 70px;
    right: -200px;
    margin: 0;
}

#menu2 .bm-menu-wrap {
    top: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 29px;
    margin-right: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #777;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: #000;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #888;
}

input:focus+.slider {
    box-shadow: 0 0 1px #888;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#extras1 {
    display: none;
}

#extras2 {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 640px) {
    #extras2 {
        display: none;
    }
    #logo {
        width: 65px;
        height: 65px;
    }
}