.menu {
    height: 14vh;
    background-color: #fada95;
    font-size: 16px;
    border-bottom: 4px solid rgb(43, 43, 43);
    display: grid;
    align-items: center;
    display: flex;
}

.navMenu ul {
    display: inline-block;
    align-items: center;
    margin: 0;
    position: absolute;
}

.menu ul {
    text-align: right;
}

ul li {
    display: inline-flex;
}

.navMenu ul li a {
    padding-right: 2vw;
    text-decoration: none;
    color: rgb(17, 17, 17);
    align-items: center;
    display: inline;
}

.navMenu ul li a:hover {
    color: #f7f6ee;
    transition: 0.5s;
}

.bm-burger-button {
    position: relative;
    width: 36px;
    height: 36px;
}

.bm-burger-bars {
    background-color: rgb(0, 0, 0);
    margin: 0;
}

.bm-burger-bars-hover {
    background-color: #2a90ab;
    transition: 0.5s;
}

.bm-cross {
    background-color: black;
}

.bm-menu {
    background-color: #2a90ab;
    font-size: 1.15em;
    border: 3px solid black;
}

.bm-item {
    padding: 15px 0px 15px 0px;
    width: 100%;
    background-color: #2a90ab;
    text-align: center;
    border-bottom: 2px solid #fada95;
    color: white;
    text-decoration: none;
}

.bm-item:hover {
    background-color: #9edded;
    color: black;
    transition: 2s;
}

.navMenu {
    align-items: center;
    display: grid;
    width: 100%;
    position: absolute;
    text-align: center;
}

#menu2 {
    float: right;
}

.bm-menu-wrap{
    top: 0;
    right: 0;
    margin-left: -45px;
}

.bm-overlay {
    top: 0;
    left: 0;
}

#logo{
    width: 75px;
    height: 75px;
    text-align: center;
}

#parte1 {
    float: left;
}

#parte2 {
    float: right;
}