.inicio {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.inicio p {
    text-align: justify;
    margin: 0px 35px 0px 35px;
    align-items: flex-end;
}

.apresentacao a {
    text-decoration: none;
    color: #000;
}

footer h3 {
    text-align: center;
}

footer {
    margin: 130px 20px 20px 20px;
}

#ergolist {
    font-size: 30px;
}

#logo2 {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    float: inline-start;
    padding: auto;
}

.apresentacao {
    border: 4px solid rgb(177, 177, 177);
    border-radius: 40px;
    height: 150px;
    width: 400px;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    margin-left: 60px;
    margin-top: 60px;
}

#redessociais {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#redessociais img {
    width: 50px;
    height: 50px;
}

#redessociais a {
    width: 50px;
    height: 50px;
    margin: 20px;
}

#conjunto {
    display: flex;
}

@media screen and (max-width: 640px) {
    #conjunto .apresentacao {
        margin-left: 0;
        display: flex;
        width: 350px;
        flex-direction: column;
        align-self: center;
        padding: 0;
    }
    #conjunto {
        flex-direction: column;
        justify-content: center;
    }
    #redessociais {
        flex-direction: row;
    }
}

@media screen and (max-width: 300px) {
    #conjunto .apresentacao {
        width: 250px;
    }
}